---

---

<style>
    html,
    body {
        height: 100%;
    }
    body {
        background-color: #fff;
        background: radial-gradient(
            circle at center,
            #fff 0%,
            #f8f8f8 75%,
            #ebebeb 100%
        );
        color: #222;
        font-family:
            system-ui,
            -apple-system,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            "Liberation Sans",
            sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        padding: 4rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h1 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin: 0;
    }
    @media screen and (max-width: 480px) {
        h1 {
            font-size: 1.5rem;
        }
    }
    h1::after {
        content: "";
        background-color: #ffe800;
        background: repeating-linear-gradient(
            45deg,
            #ffe800,
            #ffe800 0.5rem,
            #222 0.5rem,
            #222 1rem
        );
        display: block;
        height: 0.5rem;
        margin-top: 1rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    p {
        margin: 1rem 0 0 0;
    }
</style>

<main>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <h1>lwschod.pl</h1>
    <p>Ta strona jest w trakcie budowy.</p>
</main>
